@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Nosifer&display=swap');



#gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 90vw;
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 100px;
    align-self: center;
    justify-items: center;
}

body {
    background-image: linear-gradient(4deg, hsl(257, 39%, 16%), hsl(300, 27%, 15%)) ;
    color: antiquewhite;
    font-family: Eater, "sans-serif";
}