@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Nosifer&family=Poppins&display=swap');



:root {
    --dark-purple: 280, 60%, 11%; 
    --deep-blue: 242, 51%, 6%; 
    --white: 60, 24%, 96%; 
    --grey: 214, 19%, 54%; 
    --orange: 20, 92%, 44%; 
    --red: 2, 83%, 24%; 
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(311deg, hsl(var(--dark-purple)), hsl(var(--deep-blue)));
    color: hsl(var(--white));
    font-family: Poppins, sans-serif;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: .25em;
    font-family: Nosifer, "sans-serif";

    text-shadow: hsl(var(--orange)) 1px 0 10px;

}

